<ion-header>
  <ion-navbar>
    <ion-title>Light Sage Clone</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 class="heading">Accounting Books:</h2>
  <p padding>Here is the list of all the table reflecting the daily activities of the busness</p>
  <ion-list class="card-background-page">
      <ion-card (click)="openTable(table)" *ngFor="let table of tables">
          <div class="card-title">{{table}}</div>
          <div class="card-subtitle">41 Listings</div>
      </ion-card>

    <!-- <button ion-item (click)="openTable(table)" *ngFor="let table of tables">{{table}}</button> -->
  </ion-list>
</ion-content>