page-expenses {
    .card-title {
        top: 36%;
        font-size: 1.3em;
        width: 100%;
        font-weight: bold;
        color: #333;
    }
    .card-subtitle {
        font-size: 1.0em;
        top: 52%;
        width: 100%;
        color: #888;
    }
    .date {
        font-weight: normal;
        font-size: 1.0em;
    }
}
