<ion-header>

  <ion-navbar>
    <ion-title>Inventory</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="primary" (click)="search()">
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only color="primary" (click)="add()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- Replace with a list of card -->
    <!-- <ion-item *ngFor="let record of products" >
      {{record.description}}
    </ion-item> -->
    <ion-card *ngFor="let record of products" padding>
      <div class="card-title" end>{{record.description}}</div>
      <div class="card-subtitle">{{record.date}}</div>
    </ion-card>
  </ion-list>

</ion-content>
