page-inventory {
    .card-title {
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #333;
    }
    .card-subtitle {
        font-size: 1.0em;
        top: 52%;
        width: 100%;
        color: #888;
    }

}
